.services{
    width: 80%;
    margin: 10px auto;
}
.services h1{
    text-align: center;
}
.frontEnd{
    border: none;
    box-shadow: 1px 2px 3px;
    padding: 20px;
    text-align: justify;
    margin: 0 20px;
}
.frontEnd h3{
    text-align: left;
}
.stack{
    display: flex;
}
.frontEnd img{
    width: 120px;
    height: 120px;
}
